<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<body>
<!--В pager-фрагмент при вызове мы передаем наш Page<Quote> экземпляр  -->
<div th:fragment="pager (pages)">
    <nav aria-label="Page navigation example">
        <ul class="pagination" id="paginationList">
            <!-- ытался здесь сделать ссылку на скрипт из static/js/preparePaginationTitles, но не смог его подгрузить почему то.-->
            <script th:inline="javascript">
                var result = [];
                var pagesHasPrevious = [[${pages.hasPrevious()}]];
                var pagesHasNext = [[${pages.hasNext()}]];
                var totalPages = [[${pages.getTotalPages()}]];
                var activePage = [[${pages.getNumber()}]];
                var numberOfTitles = 7;
                if ((totalPages) < numberOfTitles+1) {
                    for (i = 1; i < (totalPages+1); i++) {
                        result.push(i);
                    }
                }
                else {
                    //alert("zero:" + "active: "+ activePage +"\n" +result);
                    if ((activePage + 1) < 5) {

                        for (i = 1; i < (numberOfTitles); i++) {
                            result.push(i);
                        }
                        result.push(-1,totalPages);
                       // alert("first:" + "active: "+ activePage +"\n" +result);
                    }
                    if ( ((activePage + 1) > 4) && ((activePage+1) < (totalPages-3)) ) {
                        result.push(1, -1);
                        result.push((activePage - 1), (activePage), (activePage + 1), (activePage + 2), (activePage + 3));
                        result.push(-1,totalPages);
                        //alert("second:" + "active: "+ activePage +"\n" +result);
                    }
                    if ((totalPages - 4) < (activePage + 1)){
                        result.push(1, -1);
                        for (i=totalPages-numberOfTitles+2;i<(totalPages+1);i++) result.push(i);
                        //alert("third:" + "active: "+ activePage +"\n" +result);
                    }
                }
                var htmlOutputCode = "<li class=\"page-item ";
                if (!pagesHasPrevious) htmlOutputCode += " disabled";
                htmlOutputCode += "\">\n" +
                    "                <a class=\"page-link\" href=\"/?page=" + activePage + "\">Previous</a>\n" +
                    "            </li>";
                for (i = 0; i < (result.length); i++) {

                    htmlOutputCode += "<li class=\"page-item";
                    if (result[i] == -1) htmlOutputCode += " disabled";
                    if (result[i] == (activePage + 1)) htmlOutputCode += " active";
                    htmlOutputCode += "\">\n";
                    if(result[i]!=-1) {
                        htmlOutputCode += "<a class=\"page-link\" href=\"/?page=" + result[i] + "\">";
                        htmlOutputCode += result[i] + "</a>\n";
                    } else {htmlOutputCode += "<a class=\"page-link\">...<\a>"}
                    htmlOutputCode +=    "</li>";
                }
                htmlOutputCode += "<li class=\"page-item ";
                if (!pagesHasNext) htmlOutputCode += " disabled";
                htmlOutputCode += "\">\n" +
                    "                <a class=\"page-link\" href=\"/?page=" + (activePage + 2) + "\">Next</a>\n" +
                    "            </li>";
                document.getElementById("paginationList").innerHTML = htmlOutputCode;
            </script>
        </ul>
    </nav>
</div>
</body>
</html>